
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    width: 50px;
    flex-grow: 1;
}

.links {
    display: flex;
    gap: 30px;
    flex-grow: 8;
    justify-content: space-evenly;
}

.links li {
    list-style: none;
}

.login {
    display: flex;
    gap: 30px;
    flex-grow: 2;
}

.login li {
    list-style: none;
}